<template>

<div class="info">
               {{repos.length}} total repos.
               Total size: {{ allSize() }}
               {{ providerNumbers().ghnum }} Github repos. {{ providerNumbers().bbnum}} Bitbucket repos.
            </div>

</template>


<script>
export default {
    name: "Info",
    props: {
        repos: {
            type: Array,
            required: true
        }
    },
    methods: {
        allSize() {
            //  let total = 0;
            //  this.repos.forEach(function(item) {
            //      total = total + item.size;
            //  });
            //  return this.humanFileSize(total);
        },
        providerNumbers() {
            let ghnum = 0;
            let bbnum = 0;
            this.repos.forEach(function(y) {
                if (y.provider == "github") {
                    ghnum++;
                } else {
                    bbnum++;
                }
            });
            return {
                ghnum: ghnum,
                bbnum: bbnum
            };
        },
        humanFileSize(bytes, si) {
            var thresh = si ? 1000 : 1024;
            if (Math.abs(bytes) < thresh) {
                return bytes + " B";
            }
            var units = si
                ? ["kB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"]
                : ["KiB", "MiB", "GiB", "TiB", "PiB", "EiB", "ZiB", "YiB"];
            var u = -1;
            do {
                bytes /= thresh;
                ++u;
            } while (Math.abs(bytes) >= thresh && u < units.length - 1);
            return bytes.toFixed(1) + " " + units[u];
        }
    }
};
</script>
