<template>

<div class="component--repotable">

<div v-if="repos">
               <at-table :columns="colz" :data="repos"></at-table>
            </div>


</div>

</template>

<script>
export default {
    name: "RepoTable",
    props: {
        repos: {
            type: Array,
            required: true
        }
    },
    data() {
        return {
            colz: [
                //     {
                //        title: "Name",
                //       key: "name",
                //       sortType: "normal",
                //      render: function(createElement) {
                //           return createElement("a", {
                //               attrs: {
                //                  href: this.item.link
                //              },
                //               domProps: {}
                //           });
                //       }
                //  },
                {
                    title: "name",
                    key: "name",
                    sortType: "normal"
                },
                {
                    title: "owner",
                    key: "owner",
                    sortType: "normal"
                },
                {
                    title: "provider",
                    key: "provider",
                    sortType: "normal"
                },

                {
                    title: "lang",
                    key: "lang",
                    sortType: "normal"
                },
                {
                    title: "Description",
                    key: "description"
                },
                {
                    title: "Created",
                    key: "created"
                },
                {
                    title: "Updated",
                    key: "updated"
                },
                {
                    title: "size",
                    key: "size",
                    sortType: "normal",
                    render: function(createElement) {
                        return createElement("p", this.item.sizeString);
                    }
                }
            ]
        };
    }
};
</script>
