<template>
  <div class="search">
    <at-input
      v-model="searchQuery"
      placeholder="Search"
      size="large"
      prepend-button
      v-on:input="changeSearch($event)"
    >
      <template slot="prepend">
        <i class="icon icon-search"></i>
      </template>
    </at-input>
  </div>
</template>

<script>
import Fuse from "fuse.js";
import debounce from "debounce";
export default {
  name: "Search",
  props: {
    repos: {
      type: Array,
      required: true,
    },
  },
  methods: {
    changeSearch: debounce(function($event) {
      var q = $event;

      var options = {
        shouldSort: true,
        threshold: 0.6,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: ["name"],
      };
      var fuse = new Fuse(this.repos, options); // "list" is the item array
      var result = fuse.search(q);

      this.searchResults = result;
    }, 400),
  },
};
</script>
