<template>
  <div class="settings">
    <!--   <at-input v-model="inputValue" size="large" placeholder="Bitbucket Auth"></at-input>
                        <at-input v-model="inputValue" size="large" placeholder="Github Auth"></at-input> -->

    <at-button icon="icon-download">Export LocalStorage</at-button>
  </div>
</template>

<script>
export default {
  name: "Settings",
  data() {
    return {};
  },
  mounted() {
    try {
      let settings = window.localStorage.setItem("settings");
      this.settings = JSON.parse(settings);
    } catch (err) {
      console.log("error in settings panel: " + err);
      this.settings = {
        bbdata: "",
        ghdata: "",
      };
    }
  },
};
</script>
