<template>
  <div>
    <vue-tags-input
      v-model="tag"
      :tags="tags"
      @tags-changed="(newTags) => (tags = newTags)"
    />
  </div>
</template>

<script>
import VueTagsInput from "@johmun/vue-tags-input";

export default {
  props: {
    tags: {
      type: Array,
      required: true,
    },
  },
  components: {
    VueTagsInput,
  },
  data() {
    return {};
  },
};
</script>
