<template>
  <div id="app">
    <div class="container">
      <Info :repos="repos" />
      <at-tabs>
        <at-tab-pane label="List" name="list">
          <div v-if="loaded" class="dashboard">
            <RepoTable :repos="repos" />
          </div>

          <div class="loader-container" v-else>
            <div class="loader">Loading...</div>
          </div>
        </at-tab-pane>
        <at-tab-pane label="Settings" name="settings">
          <Settings />
        </at-tab-pane>
      </at-tabs>
    </div>
  </div>
</template>

<script>
import Info from "./components/Info";
import apiClient from "./lib/api-client";
import Settings from "./components/Settings";
import RepoTable from "./components/RepoTable";
export default {
  data() {
    return {
      loaded: false,
      repos: [],
    };
  },
  components: {
    Settings,
    Info,
    RepoTable,
  },
  computed: {
    filteredData() {
      if (this.searchResults.length > 0) {
        return this.searchResults;
      } else {
        return this.repos;
      }
    },
  },
  mounted() {
    let that = this;
    new apiClient({
      debug: true,
      onFinished: function(data) {
        that.repos = data;
        that.loaded = true;
      },
    });
  },
};
</script>
